{% extends "admin/change_list.html" %}
{% load static %}
{% load i18n admin_urls static admin_modify %}

{% block content %}
    <div class="changelist-form-container" style="display: flex; align-items: flex-start;">
        <div style="flex-grow: 1;">
            <h2>{% trans "Сегодня ИТОГО" %}</h2>
            <table id="today_results" class="model-table">
                <thead>
                    <tr>
                        <th scope="col" style="width: 150px; text-align: center;">{% trans "Заказы" %}</th>
                        <th scope="col" style="width: 50px; text-align: center;">{% trans "Чеки" %}</th>
                        {% for courier_name, courier_value in couriers.items %}
                            <th scope="col text-align: center; vertical-align: middle;">{{ courier_name|capfirst }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="height: 50px; text-align: center; vertical-align: middle;">{{ total_amount }}</td>
                        <td style="text-align: center; vertical-align: middle;">{{ total_receipts }}</td>
                        {% for courier_name, courier_value in couriers.items %}
                            {% if courier_value.1 %}
                                <td style="text-align: center; vertical-align: middle;">{{ courier_value.0 }}<br>+ уточнить</td>
                            {% elif not courier_value.1 %}
                                <td style="text-align: center; vertical-align: middle;">{{ courier_value.0 }}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Блок с кнопками справа от таблицы -->
        <div class="choices-orderslist" style="display: flex; flex-direction: column; gap: 10px; margin-left: 20px;">
            {% if not user.is_superuser %}
                <a href="{% url 'admin:shop_order_changelist' %}" class="button" style="width: auto; white-space: nowrap; text-align: center;">{% trans 'Мои заказы' %}</a>
            {% endif %}

            {% if not user.is_superuser %}
                <a href="/admin/shop/order/?view=all_orders" class="button" style="width: auto; white-space: nowrap; text-align: center;">{% trans 'Все заказы' %}</a>
            {% endif %}
        </div>
    </div>

    {{ block.super }}
{% endblock %}

{% block extrahead %}
{{ block.super }}
<script src="{% static 'my_admin/js/shop/change_list.js' %}"></script>
<style>
    .field-get_delivery_type {
        display: none;
    }
</style>
<style>
    .column-get_delivery_type {
        display: none;
    }
</style>
<style>
    .related-widget-wrapper-link.add-related,
    .related-widget-wrapper-link.change-related,
    .related-widget-wrapper-link.delete-related {
        display: none !important;
    }
</style>
{% endblock %}
