{% extends "admin/change_list.html" %}
{% load admin_list %}

{% block content %}
  {% include "catalog/dish/includes/list_tabs.html" %}
  {{ block.super }}
{% endblock %}

{% block object-tools %}
<ul class="object-tools">
    {% if show_price_xls_buttons %}
      {% include "catalog/dish/includes/price_xls_buttons.html" %}
    {% endif %}

    {% block object-tools-items %}
        {{ block.super }}
    {% endblock %}
</ul>
{% endblock %}

{% block result_list %}

  <table id="result_list" class="price-matrix-table">
    <thead>
      <tr>
        <th rowspan="2" class="matrix-active-col matrix-head-center">Активно</th>
        <th rowspan="2" class="matrix-dish-col matrix-head-center">Блюдо</th>

        <th colspan="3" class="matrix-city-head">Белград</th>
        <th colspan="3" class="matrix-city-head">Нови-Сад</th>
      </tr>

      <tr>
        <th class="price-site matrix-price-col">Сайт</th>
        <th class="price-p1 matrix-price-col">P1</th>
        <th class="price-p2 matrix-price-col">P2</th>

        <th class="price-site matrix-price-col">Сайт</th>
        <th class="price-p1 matrix-price-col">P1</th>
        <th class="price-p2 matrix-price-col">P2</th>
      </tr>
    </thead>

    <tbody>
      {% for row in matrix_rows %}
        <tr class="{% cycle 'row1' 'row2' %}">
          <td class="matrix-active-col">
            {{ row.is_active_icon }}
          </td>

          <td>
            <a href="{{ row.change_url }}">{{ row.title }}</a>
          </td>

          <td class="price-site matrix-price-col">{{ row.bg.site.value }}</td>
          <td class="price-p1 matrix-price-col">{{ row.bg.p1.value }}</td>
          <td class="price-p2 matrix-price-col">{{ row.bg.p2.value }}</td>

          <td class="price-site matrix-price-col {% if row.ns.site.diff %}price-city-variant{% endif %}">
            {{ row.ns.site.value }}
          </td>
          <td class="price-p1 matrix-price-col {% if row.ns.p1.diff %}price-city-variant{% endif %}">
            {{ row.ns.p1.value }}
          </td>
          <td class="price-p2 matrix-price-col {% if row.ns.p2.diff %}price-city-variant{% endif %}">
            {{ row.ns.p2.value }}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
