{% extends "admin/change_form.html" %}
{% load static %}
{% load i18n admin_urls static admin_modify %}

{% block extrahead %}
    {{ block.super }}
   <style>
:root {
  --modal-shadow: rgba(0, 0, 0, 0.4); /* дополнительная переменная */
  --modal-backdrop: rgba(0, 0, 0, 0.5);
}

/* Затемнение фона при открытии модального окна */
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--modal-backdrop);
  display: none;
  z-index: 1000;
}

/* Основное модальное окно */
.product-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  height: 80vh;
  background: var(--body-bg);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px var(--modal-shadow);
  z-index: 1001;
  font-size: 22px;
  display: flex;
  flex-direction: column;
  color: var(--body-fg);
}

/* Заголовок модального окна */
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 26px;
  font-weight: bold;
  padding-bottom: 15px;
  border-bottom: 3px solid var(--border-color);
}

/* Кнопка закрытия */
.close-button {
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
  color: var(--body-fg);
}

/* Тело модального окна */
.modal-body {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-grow: 1;
  padding: 20px 0;
  overflow: hidden;
}

/* Блок категорий */
.categories-list {
  width: 40%;
  max-height: 75vh;
  overflow-y: auto;
  border-right: 3px solid var(--border-color);
  padding-right: 20px;
}

.category-item {
  padding: 12px;
  border-radius: 5px;
  font-size: 20px;
  transition: background 0.2s;
}

.select-category {
  background: var(--selected-bg);
}

.category-item:hover {
  cursor: pointer;
  background: var(--selected-row);
}

/* Блок блюд */
.dishes-list {
  width: 60%;
  max-height: 75vh;
  overflow-y: auto;
  padding-left: 20px;
}

/* Элемент списка блюда */
.dish-item {
  display: flex;
  align-items: center;
  padding: 14px;
  border-bottom: 3px solid var(--border-color);
  font-size: 20px;
}

.select-dish {
  background: var(--selected-bg);
}

.dish-item:hover {
  cursor: pointer;
  background: var(--selected-row);
}

/* Контроль количества */
.quantity-control {
  flex-shrink: 0;
  width: 130px;
  display: flex;
  align-items: center;
  gap: 15px;
}

/* Кнопки увеличения/уменьшения количества */
.quantity-control button {
  padding: 10px 15px;
  border: 2px solid var(--border-color);
  background: var(--button-bg);
  color: var(--button-fg);
  cursor: pointer;
  font-size: 22px;
}

.quantity-control button:hover {
  background: var(--button-hover-bg);
}

.dishName {
  flex-grow: 1;
}

/* Колонка с ценой */
.price {
  flex-shrink: 0;
  width: 200px;
  font-size: 14px;
  font-weight: bold;
}

/* Подвал модального окна */
.modal-footer {
  text-align: right;
  padding-top: 15px;
  border-top: 3px solid var(--border-color);
  font-size: 24px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Общая сумма */
.total-price {
  font-size: 26px;
  font-weight: bold;
}

/* Кнопка "Добавить блюда" */
.add-button {
  padding: 15px 20px;
  background: var(--button-bg);
  color: var(--button-fg);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 22px;
}

.add-button:hover {
  background: var(--button-hover-bg);
}

/* Кнопка "Добавить блюда" (в главном меню) */
.custom-add-button {
  padding: 10px 15px;
  color: var(--button-fg);
  background: var(--button-bg);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.custom-add-button:hover {
    background: var(--button-hover-bg);
}
    </style>
{% endblock %}

{% block admin_change_form_document_ready %}
    {{ block.super }}

    {{ categories|json_script:"categories-data" }}
    {{ dishes|json_script:"dishes-data" }}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'my_admin/js/shop/add/add_orderdishes_management.js' %}"></script>
    <script src="{% static 'my_admin/js/shop/prevent_duplicate_orderdishes.js' %}"></script>
    <script src="{% static 'my_admin/js/shop/inline.js' %}"></script>
    <script src="{% static 'my_admin/js/shop/list/repeat_order.js' %}"></script>

{% endblock %}
