{% extends "admin/edit_inline/tabular.html" %}

{% block inline_field_sets %}
    {{ block.super }}
    <script type="text/javascript">
        (function($){
            $(document).ready(function(){
                function updateAmount() {
                    var quantity = parseFloat($('#id_orderdish_set-__prefix__-quantity').val()) || 0;
                    var dish_id = $('#id_orderdish_set-__prefix__-dish').val();

                    // Выполняем AJAX-запрос для получения цены блюда
                    $.ajax({
                        url: '/get_dish_price/' + dish_id + '/',
                        success: function(data) {
                            var price = parseFloat(data.price) || 0;
                            var amount = quantity * price;
                            $('#id_orderdish_set-__prefix__-amount').val(amount.toFixed(2));
                        },
                        error: function() {
                            console.error('Error fetching dish price.');
                        }
                    });
                }

                $('#id_orderdish_set-__prefix__-quantity').on('input', updateAmount);
                $('#id_orderdish_set-__prefix__-dish').on('change', updateAmount);

                // Initialize amount on page load
                updateAmount();
            });
        })(django.jQuery);
    </script>
{% endblock %}
